<div class="row">
  <div class="col-md-12">
    <nb-card accent="info">
      <nb-card-header>Machine One</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Raw Material</label>
            <div class="col-sm-9"> {{rawMaterial}} </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Raw Material</label>
            <div class="col-sm-3"> {{remainingQuantity}} </div>
            <button type="submit" (click)="getRemainingQuantity()" nbButton status="warning">Get From Machine</button>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Inventory</label>
            <div class="col-sm-3"> {{inventory}} </div>
            <button type="submit" (click)="getInventory()" nbButton status="warning">Get From Inventory</button>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Expected Delivery</label>
            <div class="col-sm-3"> {{expectedDelivery | date:'dd/MM/yy'}} </div>
            <button type="submit" (click)="getOrder()" nbButton status="warning">Get From Orderstate</button>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Usual Expected Delivery</label>
            <div class="col-sm-9"> {{usualExpectedDelivery| date:'dd/MM/yy'}} </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Suggested Order Time</label>
            <div class="col-sm-9"> {{suggesterOrderTime| date:'dd/MM/yy'}} </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Suggested Order Time</label>
            <div class="col-sm-9"> {{testData}} </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" (click)="createOrder()" nbButton status="success">Order Now</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div *ngIf="remainingQuantity" class="col-md-3">
    <nb-card accent="info">
      <nb-card-header>New Order Details</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Id</label>
            <div class="col-sm-9"> <a [href]="sanitize('https://orderstate-test.herokuapp.com/#/order/' + newOrderResult.id) " target="_blank">{{newOrderResult.id}}</a> </div>
          </div>
        </form>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Supplier</label>
            <div class="col-sm-9">{{newOrderResult.id}}</div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div *ngIf="inventory" class="col-md-3">
    <nb-card accent="info">
      <nb-card-header>New Order Details</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Id</label>
            <div class="col-sm-9"> <a [href]="sanitize('https://orderstate-test.herokuapp.com/#/order/' + newOrderResult.id) " target="_blank">{{newOrderResult.id}}</a> </div>
          </div>
        </form>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Supplier</label>
            <div class="col-sm-9">{{newOrderResult.id}}</div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div *ngIf="expectedDelivery" class="col-md-3">
    <nb-card accent="info">
      <nb-card-header>New Order Details</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Id</label>
            <div class="col-sm-9"> <a [href]="sanitize('https://orderstate-test.herokuapp.com/#/order/' + newOrderResult.id) " target="_blank">{{newOrderResult.id}}</a> </div>
          </div>
        </form>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Supplier</label>
            <div class="col-sm-9">{{newOrderResult.id}}</div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div *ngIf="newOrderResultId" class="col-md-3">
    <nb-card accent="info">
      <nb-card-header>New Order Details</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Id</label>
            <div class="col-sm-9"> <a [href]="sanitize('https://orderstate-test.herokuapp.com/#/order/' + newOrderResult.id)">{{newOrderResult.id}}</a> </div>
          </div>
        </form>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Supplier</label>
            <div class="col-sm-9">{{newOrderResult.id}}</div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!--<div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">-->
<!--  <ngx-solar [chartValue]="solarValue"></ngx-solar>-->
<!--</div>-->

