<div class="row">
  <div class="col-md-9">
    <nb-card accent="info">
      <nb-card-header>Machine One <button nbButton status="basic" (click)="initialise()" size="tiny">refresh</button> </nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Raw Material</label>
            <div class="col-sm-9"> {{rawMaterial}} </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Machine Remaining Quantity (m)</label>
            <div class="col-sm-3"> <a *ngIf="machineQuantityLeft>-1">{{machineQuantityLeft}} </a> </div>
            <button type="submit" (click)="getRemainingQuantity()" nbButton status="warning" size="small">Feed From Machine</button>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Inventory Remaining Quantity (m)</label>
            <div class="col-sm-3"> <a *ngIf="inventoryQuantityLeft>-1"> {{inventoryQuantityLeft}}</a> </div>
            <button type="submit" (click)="getInventory()" nbButton status="warning" size="small">Feed From Inventory</button>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Expected Order Delivery Date</label>
            <div class="col-sm-3"> {{expectedOrderDeliveryDate | date:'dd/MM/yy'}} </div>
            <button type="submit" (click)="getExpectedOrder()" nbButton status="danger" size="small">Feed From Orderstate</button>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Supplier Average Lead Time</label>
            <div class="col-sm-9"> {{supplierAverageLeadTime}} </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Suggested Order Time</label>
            <div class="col-sm-9"> {{newOrderSuggestedTime| date:'dd/MM/yy'}} </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Suggested New Order Quantity</label>
<!--            <input type="text" class="col-sm-9" [(ngModel)]="newOrderQuantity"/>-->
            <div class="col-sm-9"> {{newOrderQuantity}} </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" (click)="createOrder()" nbButton status="success">Order Now</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <br class="col-md-3">
    <a *ngIf="calculatedDaysLeft>-1"> Remaining Days Left <b>{{calculatedDaysLeft}}</b></a>
<!--    <a *ngIf="remainingDaysLeft>-1"> From Machine {{remainingDaysLeft}}</a>-->
<!--    <a *ngIf="inventoryDaysLeft>-1"> From Inventory {{inventoryDaysLeft}}</a>-->
<!--    <a *ngIf="expectedDaysLeft>-1"> From expected Order {{expectedDaysLeft}}</a>-->
<!--    <a *ngIf="newOrderDaysLeft>-1"> From new Order {{newOrderDaysLeft}}</a>-->
  </div>

<div class="row">
  <div *ngIf="machineQuantityLeft>-1" class="col-md-3">
    <nb-card accent="warning">
      <nb-card-header>Machine Production Details</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Remaining Quantity (m)</label>
            <div class="col-sm-9">{{machineQuantityLeft}}</div>
          </div>
        </form>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Calculated Days</label>
            <div class="col-sm-9">{{machineDaysLeft}}</div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div *ngIf="inventoryQuantityLeft>-1" class="col-md-3">
    <nb-card accent="warning">
      <nb-card-header>Inventory Details</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Stock Quantity (m)</label>
            <div class="col-sm-9">{{inventoryQuantityLeft}}</div>
          </div>
        </form>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Calculated Days</label>
            <div class="col-sm-9">{{inventoryDaysLeft}}</div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div *ngIf="expectedOrderDeliveryDate" class="col-md-3">
    <nb-card accent="danger">
      <nb-card-header>Expected Order Details</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Id</label>
            <div class="col-sm-9"> <a [href]="sanitize('https://orderstate-test.herokuapp.com/#/order/' + expectedOrderId) " target="_blank">{{substring(expectedOrderId)}}</a> </div>
          </div>
        </form>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Description</label>
            <div class="col-sm-9">{{expectedOrder.description}}</div>
          </div>
        </form>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Supplier</label>
            <div class="col-sm-9">{{expectedOrderSupplier}}</div>
          </div>
        </form>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Calculated Days</label>
            <div class="col-sm-9">{{expectedOrderDaysLeft}}</div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div *ngIf="newOrderId" class="col-md-3">
    <nb-card  accent="success" >
      <nb-card-header>New Order Details</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Id</label>
            <div class="col-sm-9"> <a [href]="sanitize('https://orderstate-test.herokuapp.com/#/order/' + newOrder.id)">{{substring(newOrder.id)}}</a> </div>
          </div>
        </form>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Supplier</label>
            <div class="col-sm-9">{{newOrderSupplier}}</div>
          </div>
        </form>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Calculated Days</label>
            <div class="col-sm-9">{{newOrderDaysLeft}}</div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!--<div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">-->
<!--  <ngx-solar [chartValue]="solarValue"></ngx-solar>-->
<!--</div>-->

