nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';
@include nb-install-component() {

  nb-card-body {
    overflow: hidden;
  }

  .echart {
    position: absolute;
    left: 1em;
    height: calc(100% - 2 * 1rem);
    width: 40%;
  }

  .info {
    margin-left: 45%;
    padding-top: 1rem;
  }

  .value {
    margin: 0;
  }

  .details {
    color: nb-theme(text-hint-color);
  }
}
